doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    title #{title}
    style(type='text/css')
      include style.css
  body
    h2 Recorded Programs (AGQR)
    nav
      ul
        li
          if prev != -1
            a(href='/#{prev}') <-New
        li
          if next != -1
            a(href='/') -- All --
          else
            a(href='/0') -- Latest --
        li
          if next != -1
            a(href='/#{next}') Old->
    for items,recweek in recfiles
      hr
      h3 #{recweek}
      hr
      for item in items
        p
          | #{item.recdate.year}/#{item.recdate.month}/#{item.recdate.day}
          br
          a(href='player/#{item.path}')
            img(src='../streams/#{item.path}.jpg', width=160, height=120)
            br
            | #{item.title}
          br
          | #{item.mc}

